*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #f5f7fa;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: "Liter", serif, "Albert Sans","M PLUS Rounded 1c","IBM Plex Sans";

}
.container {
    background-color: #f5f7fa;
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    margin: 2rem 8rem;  
    
}
#main {
    background-color: white;
    background-size: cover;
    padding: 15px;
}
form {
    width: 80%;   
    
}
.row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    margin-bottom: 10px;
    
}
label {
    font-size: 15px;
    color: black;
    margin-top: 10px;
    font-weight: 400;
    
    
}
input, select {
    width: 95%;
    height: 30px;
    font-weight: 400;
    border-radius: 3px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
   
}
input:focus,
select:focus {
    outline: none;
    border-color: brown;
}
button{
    border: none;
    background: #2EC4B6;
    color: white;
    columns: whitte;
    width: 95%;
    height: 30px;
    cursor: pointer;
}
.paragraph1 {
    color: #737373;
    font-size: smaller;
    margin-top: 20px;
}
.paragraph2 {
    font-size: smaller;
    margin-left: 10px;
}
img {
    width: 80px;
    display: flex;
    margin-top: 20px;
}